$return-item-title-height: 15vh;

.returns-banner {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend %bg-gray-light;
  height: 100vh;
  overflow: hidden;

  &.current::after {
    right: 0;
  }

  &::after {
    content: "";
    @extend %pos-abs !optional;
    transition: right 0.2s linear;
    // width: 200%;
    transform: skewX(-45deg);
    margin-left: -50%;
    margin-right: -50%;
    z-index: 0;
    left: 0;
    right: 150vw;
    bottom: 0;
    top: 0;
  }

  &--rtv::after { background-color: $base-rtv; }
  &--clr::after { background-color: $base-clr; }
  &--dmg::after { background-color: $base-dmg; }
  &--sold::after{ background-color: green; }
  &--lg::after  { background-color: $base-lg; }
  &--md::after  { background-color: $base-md; }
  &--sm::after  { background-color: $base-sm; }
  &--xs::after  { background-color: $base-xs; }
  &--acc::after { background-color: $base-acc; }
  &--jewelry::after { background-color: $base-acc; }
}

.returned-items-list {
  @extend %list-flex, %pos-rel, %z1 !optional;
  height: 100vh;
}

.returned-item {
  overflow: hidden;
  position: relative;
  min-height: 70vh;
  max-height: (100vh - ($return-item-title-height * 1.5));
  transition: all 0.4s;

  &--rtv { color: #444444 !important; }
  &--clr { color: #444444 !important; }
  &--lg  { color: #FFFFFF !important; }
  &--md  { color: #FFFFFF !important; }
  &--sm  { color: #FFFFFF !important; }
  &--xs  { color: #444444 !important; }
  &--acc { color: #FFFFFF !important; }
  &--jewelry { color: #FFFFFF !important; }
  &--dmg { color: #FFFFFF !important; }
  &--sold{ color: #FFFFFF !important; }

  &::after {
    transition: all 0.4s;
    content: "";
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:hover {
    &::after {;
      opacity: 1;
    }
  }

  &--origin {
    &:hover {
      cursor: pointer;
    }

    &::after {
      opacity: 1;
    }
  }

  img {
    max-width: 480px;
    transform: translateX(-25%);
  }

  &--current {
    min-height: (100vh - $return-item-title-height);
    min-width: 480px;
    overflow: visible;
    @extend %bordered, %border-gray-light, %border-md;

    &::after {;
      opacity: 1;
    }
    //
    // &.returned-item--rtv { border: 3px solid $base-rtv; }
    // &.returned-item--clr { border: 3px solid $base-clr; }
    // &.returned-item--dmg { border: 3px solid $base-dmg; }
    // &.returned-item--lg  { border: 3px solid $base-lg; }
    // &.returned-item--md  { border: 3px solid $base-md; }
    // &.returned-item--sm  { border: 3px solid $base-sm; }
    // &.returned-item--xs  { border: 3px solid $base-xs; }
    // &.returned-item--acc { border: 3px solid $base-acc; }
  }

  &__status {
    @extend %pos-abs, %pos-b, %pos-r, %pos-l, %text-c, %line3, %bg-ghost-black-base, %z1, %uppercase !optional;
    color: #FFFFFF;
  }

  &__info {
    @extend %text-c, %z1, %m0 !optional;
    position: absolute;
    bottom: -($return-item-title-height - 1);
    left: 0;
    right: 0;
    height: ($return-item-title-height - 1);
    line-height: ($return-item-title-height - 1);
  }

  &__location {
    @extend %pos-abs, %pos-l, %pos-r, %mb0, %text-c !optional;
    bottom: -($return-item-title-height - 1);
    max-height: 14vh;

    &--primary {
      @extend %thick !optional;
    }
    &--secondary {
      @extend %thin, %h4, %uppercase, %ghost-dark !optional;
    }
  }

  &__type {
    @extend %thin, %ml1 !optional;
  }

}
