$returns-base-padding:        10px;
$return-item-default-height:  75vh;
$return-item-enlarged-height: 85vh;

$base-rtv:     #FFDB00;
$base-clr:     #37E3E4;
$base-dmg:     #555555;
$base-lg:      #D50000;
$base-md:      #0000FF;
$base-sm:      #FF00FF;
$base-xs:      #00FF00;
$base-acc:     #FF8000;
$base-label:   #ACAAFE;
$base-tangled: #C5C5C5;

%flex-centered {
  display: flex;
  justify-content: center;
}


body {
  background: transparent;
}

.returned-items-list {
  padding-top:   $returns-base-padding;
  padding-left:  $returns-base-padding;
  padding-right: $returns-base-padding;
  margin: 0;

  @extend %list-unstyled, %flex-centered !optional;

  .returned-item {
    overflow:   hidden;
    height:     $return-item-default-height;
    margin: 0;

    @extend %flex-centered, %pos-rel !optional;
    align-items: center;

    &--current {
      min-width: 480px;
      height:    $return-item-enlarged-height;
      background-color: white;

      margin-left:  $returns-base-padding;
      margin-right: $returns-base-padding;

      &:last-child  { margin-right: 0; }
      &:first-child { margin-left:  0; }

      img { opacity: 1.0 !important; }
    }

    &--done {
      img { opacity: 0.3; }
    }

    img {
      max-height: 720px;
      min-width: 480px;
    }

    &__location {
      position: absolute;
      text-align: center;
      bottom:  -15vh;
      height:   15vh;
      overflow: hidden;
      left:    0;
      right:   0;
    }

    &__indicator {
      width:  96px;
      height: 240px;
      background-image: url('../assets/images/indicator.svg');
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      bottom: -240px;
      left:    50%;
      margin-left: -48px;
      transition: all 0.4s cubic-bezier(.87,-.81,.19,1.84);

      &::after {
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        width:  96px;
        height: 96px;
        display: block;
      }

      &--in::after {
        background-image: url('../assets/images/checkmark.svg');
      }

      &--sold::after {
        background-image: url('../assets/images/dollar_sign.svg');
      }

      &.active,
      &.done {
        bottom: -100px;
      }
    }
  }
}

.return-info {
  @extend %text-c, %uppercase, %thick, %flex-centered !optional;
  height:    calc(15vh - #{$returns-base-padding});
  font-size: calc(12vh - #{$returns-base-padding});
  line-height: 1;

  align-items: center;

  &--double-lined {
    strong {
      font-size: calc(7vh - #{$returns-base-padding});
    }

    span {
      font-size: calc(5vh - #{$returns-base-padding});
      @extend %thin !optional;
    }
  }
}

body.done      .return-info,
body.sold      .return-info,
body.dmg       .return-info,
body.necklaces .return-info,
body.bracelets .return-info,
body.purses    .return-info,
body.md        .return-info,
body.m         .return-info,
body.lg        .return-info,
body.l         .return-info{
  color: white;
}

.returns-banner {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  @extend %bg-gray-light;
  height: 100vh;
  overflow: hidden;

  &.current::after {
    right: 0;
  }

  &::after {
    content: "";
    @extend %pos-abs !optional;
    transition: right 0.3s ease;
    transform: skewX(-45deg);
    margin-left: -50%;
    margin-right: -50%;
    z-index: 0;
    left: 0;
    right: 150vw;
    bottom: 0;
    top: 0;
  }

  &--rtv::after { background-color: $base-rtv; }
  &--clr::after { background-color: $base-clr; }
  &--dmg::after { background-color: $base-dmg; }
  &--sold::after{ background-color: green; }
  &--lg::after  { background-color: $base-lg; }
  &--l::after   { background-color: $base-lg; }
  &--md::after  { background-color: $base-md; }
  &--m::after   { background-color: $base-md; }
  &--sm::after  { background-color: $base-sm; }
  &--s::after   { background-color: $base-sm; }
  &--xs::after  { background-color: $base-xs; }
  &--acc::after { background-color: $base-acc; }
  &--label::after     { background-color: $base-label; }
  &--tangled::after   { background-color: $base-tangled; }
  &--necklaces::after { background-color: $base-acc; }
  &--bracelets::after { background-color: $base-acc; }
  &--purses::after    { background-color: $base-acc; }
  &--done::after {
    right: 0;
    background: linear-gradient(to right, rgba(229,93,136,1) 0%, rgba(95,195,228,1) 100%);
  }
}
