$return-item-title-height: 12vh;

.backdrop {
  position: absolute;
  left:   0;
  right:  0;
  top:    0;
  bottom: 0;
  background-color: #FFFFFF;

  &--overlay {
    position: absolute;
    height: $return-item-title-height * 1.5;
    left:   0;
    right:  0;
    top:    -100vh;
    bottom: 0;

    &.active {
      top: (100vh - ($return-item-title-height * 1.5));
    }
  }

  &--rtv { background-color: $base-rtv; }
  &--clr { background-color: $base-clr; }
  &--dmg { background-color: $base-dmg; }
  &--lg  { background-color: $base-lg; }
  &--md  { background-color: $base-md; }
  &--sm  { background-color: $base-sm; }
  &--xs  { background-color: $base-xs; }
  &--acc { background-color: $base-acc; }
}

.returned-fix-list {
  @extend %list-flex, %pos-rel, %z1 !optional;
  height: 100vh;
}

.returned-item {
  overflow: hidden;
  position: relative;

  min-height: 70vh;
  max-height: (100vh - ($return-item-title-height * 1.5));
  transition: all 0.5s;

  &::after {
    transition: all 0.4s;
    content: "";
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:hover {
    &::after {;
      opacity: 1;
    }
  }

  img {
    max-width: 480px;
    transform: translateX(-25%);
  }

  &--emphasized {
    min-height: (100vh - $return-item-title-height);
    min-width: 480px;
    overflow: visible;

    &::after {;
      opacity: 1;
    }

    &.returned-item--rtv { border: 3px solid $base-rtv; }
    &.returned-item--clr { border: 3px solid $base-clr; }
    &.returned-item--dmg { border: 3px solid $base-dmg; }
    &.returned-item--lg  { border: 3px solid $base-lg; }
    &.returned-item--md  { border: 3px solid $base-md; }
    &.returned-item--sm  { border: 3px solid $base-sm; }
    &.returned-item--xs  { border: 3px solid $base-xs; }
    &.returned-item--acc { border: 3px solid $base-acc; }

    > .returned-item__info {
      bottom: -($return-item-title-height - 1);
      left: 0;
      right: 0;
      height: $return-item-title-height - 1;
      background: none;

      > .returned-item-heading {
        @extend %m0, %h2 !optional;
        line-height: ($return-item-title-height - 1);
      }

      .returned-item__location {
        display: inline;
      }
    }
  }

  &.returned-item--done {
    .returned-item__info {
      color: #FFFFFF;
    }
  }

  &.returned-item--emphasized {
    .returned-item__info {
      height: $return-item-title-height;
    }
  }

  &:not(.returned-item--done):not(.returned-item--emphasized) {

    > .returned-item__info {
      display: none;
    }

  }

  &__info {
    @extend %text-c, %z1 !optional;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $return-item-title-height / 2;
    background-color: rgba(0,0,0,0.4);

    > .returned-item-heading {
      @extend %m0, %h6 !optional;
      line-height: $return-item-title-height / 2;
    }

    .returned-item__status {
      @extend %thick !optional;

      &::empty {
        display: none;
      }
    }

    .returned-item__location {
      @extend %thin, %ml1 !optional;
      display: none;

      &::empty {
        display: none;
      }
    }
  }
}
