.backdrop {
  position: absolute;
  left:   0;
  right:  0;
  top:    0;
  bottom: 0;
  background-color: #FFFFFF;

  &--overlay {
    transition: all 1s;
    position: absolute;
    height: 15vh;
    left:   0;
    right:  0;
    top:    -100vh;
    bottom: 0;

    &.active {
      top: 85vh;
    }
  }

  &--rtv { background-color: $base-rtv; }
  &--clr { background-color: $base-clr; }
  &--dmg { background-color: $base-dmg; }
  &--lg  { background-color: $base-lg; }
  &--md  { background-color: $base-md; }
  &--sm  { background-color: $base-sm; }
  &--xs  { background-color: $base-xs; }
  &--acc { background-color: $base-acc; }
}

.returned-fix-list {
  @extend %list-flex, %pos-rel, %z1;
  height: 100vh;
}

.returned-item {
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  max-height: 85vh;
  opacity: 0.3;
  transition: all 0.5s;

  &:hover {
    opacity: 1.0;
  }

  &--1 { background-image: url("/assets/images/item_1.png"); }
  &--2 { background-image: url("/assets/images/item_2.png"); }
  &--3 { background-image: url("/assets/images/item_3.png"); }
  &--4 { background-image: url("/assets/images/item_4.png"); }
  &--5 { background-image: url("/assets/images/item_5.png"); }

  img {
    max-width: 480px;
    transform: translateX(-25%);
  }

  &--emphasized {
    min-height: 90vh;
    min-width: 480px;
    opacity: 1;
    overflow: visible;

    &.returned-item--rtv { border: 3px solid $base-rtv; }
    &.returned-item--clr { border: 3px solid $base-clr; }
    &.returned-item--dmg { border: 3px solid $base-dmg; }
    &.returned-item--lg  { border: 3px solid $base-lg; }
    &.returned-item--md  { border: 3px solid $base-md; }
    &.returned-item--sm  { border: 3px solid $base-sm; }
    &.returned-item--xs  { border: 3px solid $base-xs; }
    &.returned-item--acc { border: 3px solid $base-acc; }
  }

  &__info {
    @extend %text-c;
    position: absolute;
    bottom: -15vh;
    left: 0;
    right: 0;;
    height: 15vh;
    line-height: 11vh;
    vertical-align: middle;
  }

}
